<!DOCTYPE html>
<html lang="en">
<head>
	{{> meta}}
	<title>
		{{#if title}}
			{{title}} | {{site.title}}
		{{else}}
			{{site.title}}
		{{/if}}
	</title>

	<!-- css -->
	{{> style}}
	<!-- Custom css -->
	{{{block "customcss"}}}
	<!-- favicon -->
	<!-- ... -->
</head>
<body class="page-brand">
	<main class="content">
		<div class="content-header ui-content-header ui-content-header-auth">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">
						<h1 class="content-heading">{{site.title}}</h1>
						<h4 class="content-heading">{{site.irc}}</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
  		{{{body}}}
		</div>
	</main>
	{{> footer}}

	{{#if message}}
		{{> notif}}
	{{/if}}
	<!-- js -->
	{{> script}}
	<!-- Custom js -->
	{{{block "customjs"}}}
</body>
</html>
