<!DOCTYPE html>
<html lang="en">
<head>
	{{> meta}}
	<title>
		{{#if title}}
			{{title}} | {{site.title}}
		{{else}}
			{{site.title}}
		{{/if}}
	</title>

	<!-- css -->
	{{> style}}
	<!-- Custom css -->
	{{{block "customcss"}}}
	<!-- favicon -->
	<!-- ... -->
</head>
<body class="page-brand">
	{{> header}}
	{{> menu}}
	{{> content}}
	{{> footer}}

	{{#if message}}
		{{> notif}}
	{{/if}}
	<!-- js -->
	{{> script}}
	<!-- Custom js -->
	{{{block "customjs"}}}
</body>
</html>
