<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
	<title>{{title}}</title>

	<!-- css -->
	<link href="/bower_components/daemonite-material/css/base.min.css" rel="stylesheet">
	<link href="/bower_components/daemonite-material/css/project.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">

	<!-- favicon -->
	<!-- ... -->
</head>
<body class="page-brand">
	<header class="header header-transparent header-waterfall ui-header">
		<ul class="nav nav-list pull-left">
			<li>
				<a data-toggle="menu" href="#ui_menu">
					<span class="icon icon-lg">menu</span>
				</a>
			</li>
		</ul>
		<a class="header-logo header-affix-hide margin-left-no margin-right-no" data-offset-top="213" data-spy="affix" href="/">{{title}}</a>
		<span class="header-logo header-affix margin-left-no margin-right-no" data-offset-top="213" data-spy="affix">{{title}}</span>
		<ul class="nav nav-list pull-right">
			<li class="dropdown margin-right">
				<a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
					<span class="access-hide">John Smith</span>
					<span class="avatar avatar-sm"><img alt="alt text for John Smith avatar" src="/bower_components/daemonite-material/images/users/avatar-001.jpg"></span>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li>
						<a class="padding-right-lg waves-attach" href="javascript:void(0)"><span class="icon icon-lg margin-right">account_box</span>Profile Settings</a>
					</li>
					<li>
						<a class="padding-right-lg waves-attach" href="javascript:void(0)"><span class="icon icon-lg margin-right">add_to_photos</span>Upload Photo</a>
					</li>
					<li>
						<a class="padding-right-lg waves-attach" href="page-login.html"><span class="icon icon-lg margin-right">exit_to_app</span>Logout</a>
					</li>
				</ul>
			</li>
		</ul>
	</header>
	<nav aria-hidden="true" class="menu" id="ui_menu" tabindex="-1">
		<div class="menu-scroll">
			<div class="menu-content">
				<a class="menu-logo" href="/">{{title}}</a>
				<ul class="nav">
					<li>
						<a class="waves-attach" data-toggle="collapse" href="#ui_sora_about">About</a>
						<ul class="menu-collapse collapse" id="ui_sora_about">
							<li>
								<a class="waves-attach" href="/">Staff</a>
							</li>
							<li>
								<a class="waves-attach" href="/">Ikki<small class="margin-left-xs">(9 November 2014)</small></a>
							</li>
						</ul>
					</li>
					<li>
						<a class="waves-attach" href="/">Donation</a>
					</li>
					<li>
						<a class="waves-attach" href="/">Projects</a>
					</li>
					<li>
						<a class="waves-attach" href="/">Recruitment</a>
					</li>
					<li>
						<a class="waves-attach" href="/">DDL</a>
					</li>
					<li>
						<a class="waves-attach" href="/">Torrent</a>
					</li>
					<li>
						<a class="waves-attach" data-toggle="collapse" href="#ui_sora_portal">Playback &amp; Portals</a>
						<ul class="menu-collapse collapse" id="ui_sora_portal">
							<li>
								<a class="waves-attach" href="/">Playback</a>
							</li>
							<li>
								<a class="waves-attach" href="/">Portal</a>
							</li>
							<li>
								<a class="waves-attach" href="/">Web IRC</a>
							</li>
							<li>
								<a class="waves-attach" href="/">Sorairo Server Tools</a>
							</li>
							<hr/>
							<li>
								<a class="waves-attach" href="/">Horizon Sora Iro</a>
							</li>
							<li>
								<a class="waves-attach" href="/">ghosted</a>
							</li>
							<li>
								<a class="waves-attach" href="/" title="鹿乃">鹿乃.gq</a>
							</li>
						</ul>
					</li>
        </ul>
			</div>
		</div>
	</nav>
	<main class="content">
		<div class="content-header ui-content-header">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">
						<h1 class="content-heading">{{title}}</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-12">
					<section class="content-inner margin-top-no">
						<div class="card">
							<div class="card-main">
								<div class="card-inner margin-bottom-no">
									<p class="card-heading">Releases</p>
									<div class="card-table">
										<div class="table-responsive" id="no-more-tables">
											<table class="table" title="A table within a card">
												<thead>
													<tr>
														<th>Releaser</th>
														<th>Description</th>
														<th>Links</th>
													</tr>
												</thead>
												<tbody>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Anko</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/217" title="Tales of Zestiria the X – 02">Tales of Zestiria the X – 02</a> / <span class="dt-rls">Released on 2016-07-18 23:26:25 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Tales%20of%20Zestiria%20the%20X" title="http://ddls.ghosted.xyz/?dir=Tales%20of%20Zestiria%20the%20X" onclick="strls(300,217)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz" title="http://torrents.ghosted.xyz" onclick="strls(300,217)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/217#disqus_thread" title="comment">10 Comments</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Anko</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/216" title="Tales of Zestiria the X – 01">Tales of Zestiria the X – 01</a> / <span class="dt-rls">Released on 2016-07-12 01:56:29 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Tales%20of%20Zestiria%20the%20X" title="http://ddls.ghosted.xyz/?dir=Tales%20of%20Zestiria%20the%20X" onclick="strls(417,216)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz" title="http://torrents.ghosted.xyz" onclick="strls(417,216)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/216#disqus_thread" title="comment">11 Comments</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Zhara</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/215" title="Arslan Senki S2 (The Heroic Legend of Arslan -  Dust Storm Dance) – 02">Arslan Senki S2 (The Heroic Legend of Arslan -  Dust Storm Dance) – 02</a> / <span class="dt-rls">Released on 2016-07-11 22:46:48 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://kumpulbagi.id/rakaosd/the-heroic-legend-of-arslan-dust-storm-dance-399615" title="http://kumpulbagi.id/rakaosd/the-heroic-legend-of-arslan-dust-storm-dance-399615" onclick="strls(141,215)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz/" title="http://torrents.ghosted.xyz/" onclick="strls(141,215)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/215#disqus_thread" title="comment">5 Comments</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Zhara</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/214" title="Tales of Zestiria the X – 00">Tales of Zestiria the X – 00</a> / <span class="dt-rls">Released on 2016-07-07 21:13:11 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Tales%20of%20Zestiria%20the%20X" title="http://ddls.ghosted.xyz/?dir=Tales%20of%20Zestiria%20the%20X" onclick="strls(442,214)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz/" title="http://torrents.ghosted.xyz/" onclick="strls(442,214)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/214#disqus_thread" title="comment">14 Comments</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Zhara</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/213" title="Arslan Senki S2 (The Heroic Legend of Arslan -  Dust Storm Dance) – 01">Arslan Senki S2 (The Heroic Legend of Arslan -  Dust Storm Dance) – 01</a> / <span class="dt-rls">Released on 2016-07-06 08:18:06 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://kumpulbagi.id/rakaosd/the-heroic-legend-of-arslan-dust-storm-dance-399615" title="http://kumpulbagi.id/rakaosd/the-heroic-legend-of-arslan-dust-storm-dance-399615" onclick="strls(189,213)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz/" title="http://torrents.ghosted.xyz/" onclick="strls(189,213)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/213#disqus_thread" title="comment">5 Comments</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Zhara</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/212" title="Flying Witch – 09-10">Flying Witch – 09-10</a> / <span class="dt-rls">Released on 2016-06-30 21:40:32 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Flying%20Witch" title="http://ddls.ghosted.xyz/?dir=Flying%20Witch" onclick="strls(232,212)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz/" title="http://torrents.ghosted.xyz/" onclick="strls(232,212)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/212#disqus_thread" title="comment">14 Comments</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Anko</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/211" title="Little Witch Academia 2013 &amp; 2015 (Blu-ray) and HAPPY 4TH ANNIVERSARY!">Little Witch Academia 2013 &amp; 2015 (Blu-ray) and HAPPY 4TH ANNIVERSARY!</a> / <span class="dt-rls">Released on 2016-06-16 13:44:44 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Little%20Witch%20Academia" title="http://ddls.ghosted.xyz/?dir=Little%20Witch%20Academia" onclick="strls(437,211)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz" title="http://torrents.ghosted.xyz" onclick="strls(437,211)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/211#disqus_thread" title="comment">18 Comments</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Anko</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/210" title="Re:Zero kara Hajimeru Isekai Seikatsu – 08-09">Re:Zero kara Hajimeru Isekai Seikatsu – 08-09</a> / <span class="dt-rls">Released on 2016-06-05 21:35:45 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Re%20Zero%20kara%20Hajimeru%20Isekai%20Seikatsu" title="http://ddls.ghosted.xyz/?dir=Re%20Zero%20kara%20Hajimeru%20Isekai%20Seikatsu" onclick="strls(183,210)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz" title="http://torrents.ghosted.xyz" onclick="strls(183,210)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/210#disqus_thread" title="comment">1 Comment</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Anko</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/209" title="Flying Witch – 07-08">Flying Witch – 07-08</a> / <span class="dt-rls">Released on 2016-06-01 00:48:14 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Flying%20Witch" title="http://ddls.ghosted.xyz/?dir=Flying%20Witch" onclick="strls(227,209)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz" title="http://torrents.ghosted.xyz" onclick="strls(227,209)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/209#disqus_thread" title="comment">6 Comments</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Anko</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/208" title="Flying Witch – 06">Flying Witch – 06</a> / <span class="dt-rls">Released on 2016-05-24 19:36:41 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Flying%20Witch" title="http://ddls.ghosted.xyz/?dir=Flying%20Witch" onclick="strls(194,208)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz" title="http://torrents.ghosted.xyz" onclick="strls(194,208)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/208#disqus_thread" title="comment">5 Comments</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Anko</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/207" title="Re:Zero kara Hajimeru Isekai Seikatsu – 07">Re:Zero kara Hajimeru Isekai Seikatsu – 07</a> / <span class="dt-rls">Released on 2016-05-18 08:55:45 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Re%20Zero%20kara%20Hajimeru%20Isekai%20Seikatsu" title="http://ddls.ghosted.xyz/?dir=Re%20Zero%20kara%20Hajimeru%20Isekai%20Seikatsu" onclick="strls(130,207)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz" title="http://torrents.ghosted.xyz" onclick="strls(130,207)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/207#disqus_thread" title="comment">0 Comments</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Anko</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/206" title="Re:Zero kara Hajimeru Isekai Seikatsu – 06">Re:Zero kara Hajimeru Isekai Seikatsu – 06</a> / <span class="dt-rls">Released on 2016-05-15 18:45:11 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Re%20Zero%20kara%20Hajimeru%20Isekai%20Seikatsu" title="http://ddls.ghosted.xyz/?dir=Re%20Zero%20kara%20Hajimeru%20Isekai%20Seikatsu" onclick="strls(126,206)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz" title="http://torrents.ghosted.xyz" onclick="strls(126,206)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/206#disqus_thread" title="comment">0 Comments</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Anko</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/205" title="Flying Witch – 05">Flying Witch – 05</a> / <span class="dt-rls">Released on 2016-05-11 10:50:24 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Flying%20Witch" title="http://ddls.ghosted.xyz/?dir=Flying%20Witch" onclick="strls(220,205)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz" title="http://torrents.ghosted.xyz" onclick="strls(220,205)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/205#disqus_thread" title="comment">4 Comments</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Zhara</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/204" title="Boku dake ga Inai Machi – Vol. 02 (Blu-ray)">Boku dake ga Inai Machi – Vol. 02 (Blu-ray)</a> / <span class="dt-rls">Released on 2016-05-08 12:29:30 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Boku%20dake%20ga%20Inai%20Machi/BD/%5BSora%20Iro%5D%20Boku%20dake%20ga%20Inai%20Machi%20-%20Vol.02%20%5BBD%5D" title="http://ddls.ghosted.xyz/?dir=Boku%20dake%20ga%20Inai%20Machi/BD/%5BSora%20Iro%5D%20Boku%20dake%20ga%20Inai%20Machi%20-%20Vol.02%20%5BBD%5D" onclick="strls(219,204)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz/" title="http://torrents.ghosted.xyz/" onclick="strls(219,204)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/204#disqus_thread" title="comment">4 Comments</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Anko</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/203" title="Gakusen Toshi Asterisk – 16">Gakusen Toshi Asterisk – 16</a> / <span class="dt-rls">Released on 2016-05-07 05:43:47 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Gakusen%20Toshi%20Asterisk%202nd%20Season" title="http://ddls.ghosted.xyz/?dir=Gakusen%20Toshi%20Asterisk%202nd%20Season" onclick="strls(194,203)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz" title="http://torrents.ghosted.xyz" onclick="strls(194,203)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/203#disqus_thread" title="comment">1 Comment</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Anko</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/202" title="Re:Zero kara Hajimeru Isekai Seikatsu – 05">Re:Zero kara Hajimeru Isekai Seikatsu – 05</a> / <span class="dt-rls">Released on 2016-05-06 13:45:31 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Re%20Zero%20kara%20Hajimeru%20Isekai%20Seikatsu" title="http://ddls.ghosted.xyz/?dir=Re%20Zero%20kara%20Hajimeru%20Isekai%20Seikatsu" onclick="strls(181,202)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz" title="http://torrents.ghosted.xyz" onclick="strls(181,202)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/202#disqus_thread" title="comment">1 Comment</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Ichwan</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/201" title="Flying Witch – 04">Flying Witch – 04</a> / <span class="dt-rls">Released on 2016-05-05 01:47:25 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Flying%20Witch" title="http://ddls.ghosted.xyz/?dir=Flying%20Witch" onclick="strls(145,201)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz" title="http://torrents.ghosted.xyz" onclick="strls(145,201)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/201#disqus_thread" title="comment">1 Comment</a></td>
														</tr>
																					<tr>
															<td data-title="Releaser" class="text-left releaser">Eugen</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/200" title="Gakusen Toshi Asterisk – 15">Gakusen Toshi Asterisk – 15</a> / <span class="dt-rls">Released on 2016-05-04 21:59:59 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Gakusen%20Toshi%20Asterisk%202nd%20Season" title="http://ddls.ghosted.xyz/?dir=Gakusen%20Toshi%20Asterisk%202nd%20Season" onclick="strls(121,200)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz/" title="http://torrents.ghosted.xyz/" onclick="strls(121,200)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/200#disqus_thread" title="comment">2 Comments</a></td>
														</tr>
													<tr>
															<td data-title="Releaser" class="text-left releaser">Zhara</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/199" title="Flying Witch – 03">Flying Witch – 03</a> / <span class="dt-rls">Released on 2016-04-30 21:40:12 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Flying%20Witch" title="http://ddls.ghosted.xyz/?dir=Flying%20Witch" onclick="strls(162,199)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz/" title="http://torrents.ghosted.xyz/" onclick="strls(162,199)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/199#disqus_thread" title="comment">2 Comments</a></td>
													</tr>
													<tr>
															<td data-title="Releaser" class="text-left releaser">Eugen</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/198" title="Gakusen Toshi Asterisk – 04-14">Gakusen Toshi Asterisk – 04-14</a> / <span class="dt-rls">Released on 2016-04-30 16:56:55 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Gakusen%20Toshi%20Asterisk" title="http://ddls.ghosted.xyz/?dir=Gakusen%20Toshi%20Asterisk" onclick="strls(247,198)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz/" title="http://torrents.ghosted.xyz/" onclick="strls(247,198)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/198#disqus_thread" title="comment">6 Comments</a></td>
													</tr>
													<tr>
															<td data-title="Releaser" class="text-left releaser">Anko</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/197" title="Re:Zero kara Hajimeru Isekai Seikatsu – 04">Re:Zero kara Hajimeru Isekai Seikatsu – 04</a> / <span class="dt-rls">Released on 2016-04-27 15:51:20 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Re%20Zero%20kara%20Hajimeru%20Isekai%20Seikatsu" title="http://ddls.ghosted.xyz/?dir=Re%20Zero%20kara%20Hajimeru%20Isekai%20Seikatsu" onclick="strls(285,197)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz" title="http://torrents.ghosted.xyz" onclick="strls(285,197)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/197#disqus_thread" title="comment">2 Comments</a></td>
													</tr>
													<tr>
															<td data-title="Releaser" class="text-left releaser">Anko</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/196" title="Flying Witch – 02">Flying Witch – 02</a> / <span class="dt-rls">Released on 2016-04-25 19:14:39 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Flying%20Witch" title="http://ddls.ghosted.xyz/?dir=Flying%20Witch" onclick="strls(217,196)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz" title="http://torrents.ghosted.xyz" onclick="strls(217,196)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/196#disqus_thread" title="comment">5 Comments</a></td>
													</tr>
													<tr>
															<td data-title="Releaser" class="text-left releaser">Anko</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/195" title="Re:Zero kara Hajimeru Isekai Seikatsu – 03">Re:Zero kara Hajimeru Isekai Seikatsu – 03</a> / <span class="dt-rls">Released on 2016-04-22 22:53:22 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Re%20Zero%20kara%20Hajimeru%20Isekai%20Seikatsu" title="http://ddls.ghosted.xyz/?dir=Re%20Zero%20kara%20Hajimeru%20Isekai%20Seikatsu" onclick="strls(220,195)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz" title="http://torrents.ghosted.xyz" onclick="strls(220,195)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/195#disqus_thread" title="comment">2 Comments</a></td>
													</tr>
													<tr>
															<td data-title="Releaser" class="text-left releaser">Zhara</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/194" title="Boku dake ga Inai Machi – Vol. 01 (Blu-ray)">Boku dake ga Inai Machi – Vol. 01 (Blu-ray)</a> / <span class="dt-rls">Released on 2016-04-18 16:49:11 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/?dir=Boku%20dake%20ga%20Inai%20Machi/BD" title="http://ddls.ghosted.xyz/?dir=Boku%20dake%20ga%20Inai%20Machi/BD" onclick="strls(473,194)" target="_blank">DDL</a> / <a href="http://www.nyaa.se/?page=view&amp;tid=804060" title="http://www.nyaa.se/?page=view&amp;tid=804060" onclick="strls(473,194)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/194#disqus_thread" title="comment">17 Comments</a></td>
													</tr>
													<tr>
															<td data-title="Releaser" class="text-left releaser">Anko</td>
															<td data-title="Description" class="text-left"><a href="https://sorairo.fansubs.pw/posts/192" title="Re:Zero kara Hajimeru Isekai Seikatsu – 02v2">Re:Zero kara Hajimeru Isekai Seikatsu – 02v2</a> / <span class="dt-rls">Released on 2016-04-15 15:44:55 GMT+7</span></td>
															<td data-title="Links" class="text-right"><a href="http://ddls.ghosted.xyz/Re%20Zero%20kara%20Hajimeru%20Isekai%20Seikatsu" title="http://ddls.ghosted.xyz/Re%20Zero%20kara%20Hajimeru%20Isekai%20Seikatsu" onclick="strls(205,192)" target="_blank">DDL</a> / <a href="http://torrents.ghosted.xyz" title="http://torrents.ghosted.xyz" onclick="strls(205,192)" target="_blank">Torrent</a> / <a href="https://sorairo.fansubs.pw/posts/192#disqus_thread" title="comment">0 Comments</a></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="card-action">
									<div class="card-action-btn pull-right">
										<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">chevron_left</span></a>
										<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">chevron_right</span></a>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</main>
	<footer class="ui-footer">
		<div class="container">
			<p>&copy; Sora Iro Fansubs, 2012 - 2016<br/>All rights reserved</p>
		</div>
	</footer>

	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="/bower_components/daemonite-material/js/base.min.js"></script>
	<script src="/bower_components/daemonite-material/js/project.min.js"></script>
</body>
</html>
